.header {
  background-color: var(--magnolia);
  padding: 0.5rem 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  max-width: 2.5rem;
  transition: transform 0.15s linear;
}

.logo:hover {
  transform: scale(1.05);
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}
