.header {
  /* background-color: var(--crayola); */
  background-color: var(--magnolia);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 3rem;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}
