.header {
  background-color: var(--magnolia);
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  max-width: 2.5rem;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}
