.detailed {
  border: 5px solid var(--crayola);
  overflow: hidden;
  border-radius: 1rem;
  margin: 0 auto;
  color: var(--cadet);
  background-color: var(--magnolia);
  width: min(80%, 40rem);
}

.article {
  border: 5px solid var(--crayola);
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 3rem;
  transition: all 0.3s linear;
  color: var(--cadet);
  background-color: var(--magnolia);
}

.article:hover {
  box-shadow: 0 0 0 5px var(--cadet);
}

.img {
  object-fit: cover;
}

.info {
  padding: 2rem 1rem;
}

.header {
  margin-bottom: 1.5rem;
}

.title {
  font-size: 2rem;
}

.author {
  display: inline-block;
  margin-right: 2rem;
}

.bold {
  color: var(--crayola);
  font-weight: 800;
}

.likes {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.icon {
  color: var(--crayola);
  margin-right: 1rem;
}

.count {
  font-weight: 800;
}

@media only screen and (min-width: 1000px) {
  .article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
  }
  .article .img {
    height: 20rem;
  }
}
