.banner {
  max-width: 90%;
  margin: 0 auto;
  padding: 3rem;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.6);
}

.title,
.slogan {
  text-align: center;
  color: var(--crayola);
}

.title {
  font-size: calc(1.85rem + 1vw);
}

.title::first-letter {
  color: var(--sienna);
}

.slogan {
  font-size: calc(1rem + 1vw);
  font-weight: 600;
}

.red {
  color: var(--sienna);
}

@media only screen and (min-width: 500px) {
  .title {
    font-size: calc(1.85rem + 2vw);
  }
}
